<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="/converters.js"></script>
	<script src="/modals_scripts.js" defer></script>
	<script type="text/javascript" src='/generator_scripts.js' defer></script>
	<script type="text/javascript" src="http://chir.ag/projects/ntc/ntc.js"></script>
	<title>Pallete Generator</title>
</head>
<%- include('layouts/nav'); %>
<%- include('layouts/modals'); %>
<header>
	<a class='tip'>Press space to generate new colors!</a>
	<nav>
		<ul class='tools'>
			<li><a id='export'><i class='icon-holder'><span>Export</span></i></a></li>
			<li><a id='save'><i>Save</i></a></li>
		</ul>
	</nav>
</header>
<body>
	<div class='picker-container'></div>
</body>
</html>