<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= errorMessage %> - Random Colors</title>
</head>
<%- include('layouts/nav') %>
<body>
	<div class='error'>
		<h1><%= errorCode %></h1>
		<a><%= errorMessage %></a>
	</div>
</body>
</html>