<!DOCTYPE html>
<html>
<head>
	<title>Random Colors - Color pallete generator!</title>
</head>
<%- include('layouts/nav'); %>
<body>
	<div class='main-container'>
		<div class='left-side'>
			<div class='holder'>
				<h1>Random Colors, the color pallete generator!</h1>
				<h2>Get inspired by infinite amount of colors.</h2>
				<a class='black-white-button colored'role='button' href='/generator'>Start the generator!</a>
				<a class='black-white-button' role='button' href='/palletes'>Explore palletes</a>
			</div>
		</div>
		<div class='right-side'>
			
		</div>
	</div>
</body>
</html>