<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="/converters.js"></script>
	<script type="text/javascript" src="http://chir.ag/projects/ntc/ntc.js"></script>
	<script src="/modals_scripts.js" defer></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src='/profile_script.js' defer></script>
	<title><%= user %>'s profile - Random Colors</title>
</head>
<%- include('layouts/nav'); %>
<%- include('layouts/modals'); %>
<body>
	<div class='pallete-container'>
	</div>
</body>
</html>