<head>
	<script src="/converters.js" ></script>
</head>
<div class='modal-container'>
	<div class='bg-modal'>
		<!-- Export -->
		<div class='export-content'>
			<button id='close'></button>
			<header class='modal-header'>
				<span>Export as</span>
			</header>
			<div class='methods-container'>
				<a id='css-export'><i>CSS</i></a>
				<a id='image-export'><i>Image</i></a>
				<a id='ase-export' download='pallete.ase' role='button'> <i>ASE</i></a>
				<a id='svg-export'><i>SVG</i></a>
			</div>
		</div>
		<!-- Download -->
		<div class='download-content'>
			<button id='close'></button>
			<header class='modal-header'>
				<span>CSS</span>
			</header>
			<div class='code-container'>
				<pre><code class='css-content'>
				</code></pre>
			</div>
			<div class='footer'>
				<a id='download-css' download='pallete.scss' role='button'>Download</a>
				<a id='copy-css' role='button'>Copy</a>
			</div>
		</div>
		<div class='download-content'>
			<button id='close'></button>
			<header class='modal-header'>
				<span>Image</span>
			</header>
			<div class='footer'>
				<a id='download-image' download='pallete.png' role='button'>Download</a>
			</div>
		</div>
		<!-- Save -->
		<div class='save-pallete'>
			<button id='close'></button>
			<header class='modal-header'>
				<span>Save</span>
			</header>
			<div class='form-container'>
				<form method='POST' action='/save'>
					<input id='color-data' type="hidden" name="data">
					<label>NAME</label>
					<input type="text" name="name" placeholder="My new pallete" required>
					<label>TAGS</label>
					<input type="text" name="tags" placeholder="Tags">
					<div class='footer'>
						<input type="submit" value='Save'>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>